@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Games 'R' Us!</h1>
    <p>If you would like to start placing an order for a customer, click on the button below.</p>
    <a asp-area="" asp-controller="Shopping" asp-action="Index">Start a New Order</a>
</div>