@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This application is meant to be solely used by clients with admin privileges.
    That is, so the business can place orders for customers.
    If customers are to start using this web application to make purchases,
    user verfication features will be required.</p>
